@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateAdmin</h2>

@using (Html.BeginForm("UpdateAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.AdminId)
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextAreaFor(x => x.AdminPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Rol")
    @Html.TextAreaFor(x => x.AdminRole, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

